// Global component styles
html { position: relative; min-height: 100%;}
body { height: 100%; background-color: #24292e;
    background-image: url(../media/bg.svg);
    background-repeat: no-repeat;
    background-size: 100% auto; 
    background-position: center 0, 0 0, 0 0; text-align: center;
    padding-top: 5%;
}
p{
    font-size: 80px;
    color: #384045;
    font-family: sans-serif;
    margin: 40px auto;
}
a{ background: #FFF;
    padding: 10px 15px;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    font-family: monospace; }

footer{ 
    color: #384045;
}