<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('_head.html')
  </head>
  <body id="home">
    <div class="content">
        @@include('top.html')
        @@include('gallery.html')
    </div>

    <div class="row col-md-8 col-sm-12 mx-auto text-center mt-5 pt-3 content-page">
      <p class="mx-auto">
        <a href="https://packagist.org/packages/astronphp/rocket"><img src="https://poser.pugx.org/astronphp/rocket/d/total.svg?format=flat" alt="Total Downloads"></a>
        <a href="https://packagist.org/packages/astronphp/rocket"><img src="https://poser.pugx.org/astronphp/rocket/v/stable.svg?format=flat" alt="Latest Stable Version"></a>
        <a href="https://packagist.org/packages/astronphp/rocket"><img src="https://poser.pugx.org/astronphp/rocket/license.svg?format=flat" alt="License"></a>
      </p>
    </div>  
    <div class="row col-md-8 col-sm-12 mx-auto mt-3 content-page">
      <div class="mx-auto col-12 p-0"> 
        <b>* Install via composer:</b>
        <pre class="px-2 mx-2">composer create-project astronphp/rocket myproject</pre>
      </div>
    </div>

    <div class="row col-md-8 col-sm-12 mx-auto mt-3 col-sm-12 content-page">
        <ul class="cards">
            <li class="col-md-3 col-sm-6 p-2">
              <a href="https://github.com/astronphp/rocket/" target="_blank" class="px-1 py-3 col-12">
                  <div class="col-12">
                    <i class="fas fa-rocket"></i>
                  </div>
                  <div class="col-12 mt-3">
                    <span>Rocket</span>
                  </div>
              </a>
            </li>
            <li class="col-md-3 col-sm-6 p-2">
              <a href="https://github.com/astronphp/framework/" target="_blank" href="#" class="px-1 py-3 col-12">
                  <div class="col-12">
                    <i class="fas fa-cogs"></i>
                  </div>
                  <div class="col-12 mt-3">
                    <span>Framework</span>
                  </div>
              </a>
            </li>
            <li class="col-md-3 col-sm-6 p-2">
                <a href="https://github.com/astronphp/orm/" target="_blank"class="px-1 py-3 col-12">
                    <div class="col-12">
                      <i class="fas fa-coins"></i>
                    </div>
                    <div class="col-12 mt-3">
                      <span>Orm</span>
                    </div>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 p-2">
                <a href="https://github.com/astronphp/viewfront/" target="_blank" class="px-1 py-3 col-12">
                  <div class="col-12">
                    <i class="fas fa-palette"></i>
                  </div>
                  <div class="col-12 mt-3">
                    <span>Viewfront</span>
                  </div>
                </a>
            </li>
        </ul>
    </div>
  

    @@include('footer.html')
    
    <script src="@@__assets__/vendor/jquery/jquery.min.js"></script>
    <script src="@@__assets__/js/main.min.js"></script>
  </body>
</html>